<a href="https://colab.research.google.com/github/rdminhot/Adidas_sales/blob/main/Adidas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análisis de ventas de Adidas sobre una muestra durante los años 2020/2021.

### Descripción del Proyecto: Analizar tendencias y patrones de compra en diferentes retails de EEUU.
### El objetivo en identificar tendencias y patrones de compra (On-line/Presencial) en los clientes de la firma y luego extrapolar la información a la totalidad de retails de EEUU a fin de lograr un mayor volumen de ventas.
Proyección: En una segunda etapa y una vez identificados los posibles patrones
elaborare

## Fuente de información:
### Kaggle: https://www.kaggle.com/code/youcefbel/adidas-us-sales-data-analysis-and-machine-learning/input

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
Adidas= pd.read_excel('/content/Adidas US Sales Datasets.xlsx')
Adidas.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,Adidas Sales Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
4,NaN,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,0.5,In-store
5,NaN,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50,1000,500000,150000,0.3,In-store
6,NaN,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40,1000,400000,140000,0.35,In-store
7,NaN,Foot Locker,1185732,2020-01-04 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45,850,382500,133875,0.35,In-store
8,NaN,Foot Locker,1185732,2020-01-05 00:00:00,Northeast,New York,New York,Men's Apparel,60,900,540000,162000,0.3,In-store
9,NaN,Foot Locker,1185732,2020-01-06 00:00:00,Northeast,New York,New York,Women's Apparel,50,1000,500000,125000,0.25,In-store

In [16]:
Adidas_1 = Adidas.drop('Unnamed: 0',axis=1)
Adidas_1 = Adidas.drop(labels=[0,1,2], axis=0)
Adidas_1.columns = Adidas_1.iloc[0]
Adidas_1 =Adidas_1.drop(labels=3, axis=0)
Adidas_1 =Adidas_1.reset_index(drop=True)
Adidas_1.head(10)

3,NaN,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,NaN,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,0.5,In-store
1,NaN,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50,1000,500000,150000,0.3,In-store
2,NaN,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40,1000,400000,140000,0.35,In-store
3,NaN,Foot Locker,1185732,2020-01-04 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45,850,382500,133875,0.35,In-store
4,NaN,Foot Locker,1185732,2020-01-05 00:00:00,Northeast,New York,New York,Men's Apparel,60,900,540000,162000,0.3,In-store
5,NaN,Foot Locker,1185732,2020-01-06 00:00:00,Northeast,New York,New York,Women's Apparel,50,1000,500000,125000,0.25,In-store
6,NaN,Foot Locker,1185732,2020-01-07 00:00:00,Northeast,New York,New York,Men's Street Footwear,50,1250,625000,312500,0.5,In-store
7,NaN,Foot Locker,1185732,2020-01-08 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50,900,450000,135000,0.3,Outlet
8,NaN,Foot Locker,1185732,2020-01-21 00:00:00,Northeast,New York,New York,Women's Street Footwear,40,950,380000,133000,0.35,Outlet
9,NaN,Foot Locker,1185732,2020-01-22 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45,825,371250,129937.5,0.35,Outlet

In [17]:
Adidas_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nan               0 non-null      float64
 1   Retailer          9648 non-null   object
 2   Retailer ID       9648 non-null   object
 3   Invoice Date      9648 non-null   object
 4   Region            9648 non-null   object
 5   State             9648 non-null   object
 6   City              9648 non-null   object
 7   Product           9648 non-null   object
 8   Price per Unit    9648 non-null   object
 9   Units Sold        9648 non-null   object
 10  Total Sales       9648 non-null   object
 11  Operating Profit  9648 non-null   object
 12  Operating Margin  9648 non-null   object
 13  Sales Method      9648 non-null   object
dtypes: float64(1), object(13)
memory usage: 1.0+ MB